* {
  font-family: sans-serif;
  font-size: 16px;
}

body {
  background-color: black;
  color: #fff;
}

.navigation {
  border-radius: 5px;
  padding: 5px;
  display: flex;
  justify-content: end;
  background-color: #38015c;
}

.top-display {
  border-bottom: 2px solid #fff;
  margin-bottom: 5px;
}

.top-display h1 {
  border-bottom: 1px solid white;
  width: 20%;
}

.field-clock {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 5px;
}

form {
  background-color: #38015c;
  padding: 5px;
  border-radius: 5px;
  width: 40%;
}

.changeMIDColor {
  color: cyan;
}

/* ====================================================================== */
.login-container {
  border: 1px solid white;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container form {
  background-color: #38015c;
  border-radius: 10px;
  /* height: 50%; */
}

.login-container h1 {
  /* background-color: pink; */
  text-align: center;
  font-size: 1.5rem;
  border-bottom: 1px dotted white;
  padding: 5px;
}

.login-fields {
  margin: 5px;
  padding: 5px;
}

.login-fields input {
  margin-left: 1rem;
}

.login-fields-button {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}

/* Controls Field Styling ================================================= */

.controls-options-container {
  display: flex;
  flex-direction: column;
}

.controls-container {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.controls-options-history {
  background-color: grey;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

.controls-options-history select {
  width: 100%;
}

.controls-options {
  display: flex;
  align-items: center;
  background-color: grey;
  border-radius: 5px;
  padding: 5px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.controls-links {
  background-color: grey;
  border-radius: 5px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.controls-links button {
  margin: 1rem;
}

.controls-links label {
  margin: 1rem;
}

.control {
  margin-bottom: 0.5rem;
  padding: 2px;
}

.control-radio-btns {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  width: 75%;
  font-size: 0.8rem;
  text-align: center;
}

.control label {
  font-weight: bold;
  display: block;
}

.control input {
  border-radius: 5px;
  width: 75%;
}

.control textarea {
  border-radius: 5px;
  width: 95%;
}

.control button {
  border: 5px solid black;
  border-radius: 2px;
}

.control button:hover {
  border-color: cyan;
}

.btn-controls {
  display: flex;
  flex-direction: column;
  background-color: grey;
  border-radius: 5px;
  opacity: 0.9;
  padding: 0.5rem;
  height: 25%;
}

.btn-controls button {
  margin-bottom: 10px;
}

.footer {
  border: 1px solid white;
  margin-top: 5px;
}
