* {
  font-family: sans-serif;
  font-size: 16px;
}

body {
  background-color: black;
  color: #fff;
}

.top-display {
  border-bottom: 2px solid #fff;
  margin-bottom: 5px;
}

.top-display h1 {
  border-bottom: 1px solid white;
  width: 20%;
}

.field-clock {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 5px;
}

form {
  background-color: #38015c;
  padding: 5px;
  border-radius: 5px;
  width: 40%;
}

.changeMIDColor {
  color: cyan;
}

/* Controls Field Styling ================================================= */

.controls-options {
  border-radius: 5px;
  background-color: grey;
  width: 35%;
  height: 5rem;
  display: flex;
  align-items: center;
  padding: 5px;
}

.controls-container {
  display: flex;
  justify-content: space-between;
}

.control {
  margin-bottom: 0.5rem;
  padding: 2px;
}

.control-radio-btns {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  width: 75%;
  font-size: 0.8rem;
  text-align: center;
}

.control label {
  font-weight: bold;
  display: block;
}

.control input {
  border-radius: 5px;
  width: 75%;
}

.control textarea {
  border-radius: 5px;
  width: 95%;
}

.control button {
  border: 5px solid black;
  border-radius: 2px;
}

.control button:hover {
  border-color: cyan;
}

.btn-controls {
  display: flex;
  flex-direction: column;
  background-color: grey;
  border-radius: 5px;
  opacity: 0.9;
  padding: 0.5rem;
  height: 25%;
}

.btn-controls button {
  margin-bottom: 10px;
}

.footer {
  border: 1px solid white;
  margin-top: 5px;
}
